<nav class="navbar is-primary">
    <div class="container">
        <div class="navbar-brand">
            <a href="/" class="navbar-item"><h1 class="title has-text-light">Stork Books</h1></a>
            <button class="button navbar-burger is-primary" data-target="navMenu">
                <span></span>
                <span></span>
                <span></span>
            </button>
        </div>
        <div class="navbar-menu" id="navMenu">
            <div class="navbar-end">
                <% if(!authenticated)  { %>
                <a href="/books" class="navbar-item">All Books</a>
                <a href="/signup" class="navbar-item">Signup</a>
                <a href="/login" class="navbar-item">Login</a>
                <% } else { %>
                <a href="/books" class="navbar-item"></i>&nbsp;All Books</a>
                <a href="/mybooks/add" class="navbar-item"></i>&nbsp;Add a book</a>
                <a href="/mybooks" class="navbar-item"></i>&nbsp;My Books</a>
                <a href="/settings" class="navbar-item"></i>&nbsp;Settings</a>
                <a href="/logout" class="navbar-item"></i>&nbsp;Logout</a>
                <% } %>
            </div>
        </div>
    </div>
</nav>