<nav class="navbar is-primary">
    <div class="container">
        <div class="navbar-brand">
            <a href="/" class="navbar-item"><h1 class="title has-text-light">Stork Books</h1></a>
            <button class="button navbar-burger is-primary" data-target="navMenu">
                <span></span>
                <span></span>
                <span></span>
            </button>
        </div>
        <div class="navbar-menu" id="navMenu">
            <div class="navbar-end">
                <a href="/signup" class="navbar-item">Signup</a>
                <a href="/login" class="navbar-item">Login</a>
                <a href="/books" class="navbar-item">All Books</a>
                <a href="#" class="navbar-item">My Books</a>
                <a href="#" class="navbar-item"><i class="fa fa-cog"></i></a>
                <a href="#" class="navbar-item">Logout</a>
            </div>
        </div>
    </div>
</nav>