<!doctype html>
<html lang="en">
<%- include('partials/head.ejs') %>
<body>
<%- include('partials/navbar.ejs') %>

<section class="header">
    <div class="container">
        <div class="columns is-centered">
            <div class="column is-one-fifth-tablet header-pic">
                <img src="./svg/bookshelf.svg" alt="">
            </div>
            <div class="column is-two-fifths-tablet header-title">
                <h1 class="title is-1 has-text-white">All Books</h1>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container">
        <div class="columns">
            <div class="column is-one-quarter-tablet">

            </div>
            <div class="column is-three-quarters-tablet">
                <div class="box">
                    <article class="media">
                        <div class="media-left">
                            <figure class="image is-64x64">
                                <img src="https://books.google.com.ag/books/content?id=z9Q99X-OOtAC&printsec=frontcover&img=1&zoom=5&edge=curl&imgtk=AFLRE72-DHxMWOaPTEgkGs2DJ-iEvUe7gCcdWfzIAB1vHqdvFDVlIt4V2vBXtNqqS3PM5ed9_hGYjvag4p_1k8Xan4Ij2F4uHOizd673ua_xrGaFKo_SufW2E5gjtcuW_xPVYL47Jh7b" alt="">
                            </figure>
                        </div>
                        <div class="media-content">
                            <div class="content">
                                <p>
                                    <strong>The Secret</strong>
                                    <small>The author</small>
                                    <br/>
                                    The book Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean efficitur sit amet massa fringilla egestas. Nullam condimentum luctus turpis.
                                </p>
                            </div>
                            <button class="button is-primary">Request</button>
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </div>
</section>


</body>
</html>