<!doctype html>
<html lang="en">
<%- include('partials/head.ejs') %>
<body>
<%- include('partials/navbar.ejs') %>
<div class="hero is-medium is-primary">
    <div class="hero-body">
        <img src="/svg/background.svg" alt="">
        <div class="container">
            <div class="title">Stork Books</div>
            <div class="subtitle">Get the books you need.</div>
        </div>
    </div>
</div>
<section id="features">
    <div class="container">
        <h1 class="title">Features</h1>
        <div class="tile is-ancestor">
            <div class="tile is-8 is-parent is-vertical">
                <div class="tile is-child notification feature-tile">
                    <img class="image is-64x64" src="./svg/light.svg" alt="Study">
                    <p>You'll find a lot of books here. Choose the one you want while you trade the one you no longer need. A win-win !</p>
                </div>
                <div class="tile is-child notification feature-tile">
                    <img class="image is-64x64" src="./svg/message.svg" alt="Study">
                    <p>Direct message the person who trades the book. You can arrange your own mode of trade which would be convenient for both.</p>
                </div>
            </div>
            <div class="tile is-4 is-parent">
                <div class="tile is-child notification feature-tile">
                    <img class="image is-64x64" src="./svg/money-bag.svg" alt="Study">
                    <p>This is probably the best of all! You will be saving money while you minimise clutter in your house. Physical books are one of the best ways to relax. What are you waiting for? Let's trade a book today!</p>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>