.hero-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px !important;
    padding-top: 20px !important;
}

.hero-body img {
    position: relative;
    z-index: 1;
    max-width: 90%;
    max-height: 400px;
    margin: auto;
}

.hero-body .container {
    text-align: center;
    transition: 0.5s all;
}

.auth-card {
    max-width: 320px;
    margin: 50px auto;
}

.auth-control {
    display: flex;
    justify-content: space-around;
}

.auth-control input {
    width: calc(100% - 82px);
}

#features {
    margin: 70px auto;
}

.feature-tile {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.feature-tile img {
    margin-bottom: 20px;
}

@media screen and (min-width: 769px) {
    .hero-body .container {
        text-align: center;
        position: relative;
        top: -250px;
        z-index: 2;
    }
}
