.hero-svg {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px !important;
    padding-top: 20px !important;
}

.hero-svg img {
    position: relative;
    z-index: 1;
    max-width: 90%;
    max-height: 400px;
    margin: auto;
}

.hero-body .container {
    text-align: center;
}

.auth-card {
    max-width: 320px;
    margin: 50px auto;
    background-color: whitesmoke;
    border-top: 5px #00CBA9 solid;
}

.auth-control {
    display: flex;
    justify-content: space-around;
}

.auth-control input {
    width: calc(100% - 82px);
}

.header {
    padding: 50px 0px;
    background-color: #00cba9;
}

.header-title {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.feature-tile {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.feature-tile img {
    margin-bottom: 20px;
}

.book-requests {
    margin-top: 4px;
}

.settings-form {
    margin-top: 50px;
    background-color: whitesmoke;
    border-radius: 4px;
    padding: 20px;
}

.settings-form form .title {
    margin-top: 25px;
}

section {
    padding-top: 100px;
}

.notification-tag {
    border-radius: 100% !important;
    width: 1.5em !important;
    height: 1.5em !important;
    font-size: 10px;
    font-weight: bold;
    position: relative;
    top: -10px;
}

input {
    box-shadow: none !important;
    border: none !important;
}

input:hover, input:focus, input:active {
    outline: none;
    border: none
}

@media screen and (min-width: 769px) {
    .hero-body .container {
        text-align: center;
        position: relative;
        top: -250px;
        z-index: 2;
    }
}

@media screen and (max-width: 769px) {
    .header-pic {
        display: flex;
        justify-content: center;
    }

    .header-pic img {
        display: block;
        max-width: 40%;
    }

    .settings-form {
        margin-top: 0;
    }
}
